doctype html
head
  meta(charset="utf-8")
  title inVision Marketplace
  link(rel="stylesheet", href="../css/master.css", media="screen", title="no title", charset="utf-8")

body
  .full
  header.billboard
    nav
      ul
        li
          a(href="#shop") SHOP
        li
          a(href="#") DESIGNERS
        li
          a(href="#").cart CART
            span 0


  .mid#shop
    .small
      img(src="../img/test-shirt.png", alt="")
    .small
      img(src="../img/test-shirt.png", alt="")
    .large
      img(src="../img/large-shirt.png", alt="")
  .mid
    .large
      img(src="../img/large-shirt.png", alt="")
    .small
      img(src="../img/test-shirt.png", alt="")
    .small
      img(src="../img/test-shirt.png", alt="")
  .mid
    .small
      img(src="../img/large-shirt.png", alt="")
    .large
      img(src="../img/test-shirt.png", alt="")
    .small
      img(src="../img/test-shirt.png", alt="")
  .mid
    .email
        h1 NEW STYLES COMING SOON
        p BE THE FIRST TO KNOW
  .form
    form(action="index.html", method="post")
      input(type="text", name="name",value="Email Address")
      button#sub(type="submit") SUBMIT




  footer
    .superFooter
      h1 THE WORLD'S SMARTEST COMPANIES USE INVISION
      a(href="#").border
        h1 SEE WHY
      a(href="#")
        h1 GET STARTED NOW FOR FREE
